<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      리프레쉬오피스
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div class="home-round-progress-container">
      <div class="center-info">
          <p class="percent">{{current}}%</p>
          <p class="description" *ngIf="current != 100">지났음</p>
          <p class="description" *ngIf="current == 100">완성!</p>
      </div>
      <round-progress [current]="current" [max]="max"></round-progress>
  </div>

  <ion-card>

    <button class="refresh-button" ion-button clear (click)="refresh()">
      <ion-icon name="md-refresh"></ion-icon>
    </button>

    <ion-card-header>
      <div *ngIf="user?.name != null">{{user?.name}}님, 반갑습니다!</div>
      <div *ngIf="user?.name == null">회원님, 반갑습니다!</div>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label floating color="danger">출근</ion-label>
        <ion-input type="text" [value]="user?.inTime" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating color="danger">퇴근</ion-label>
        <ion-input type="text" [value]="user?.outTime" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating color="danger">근무시간</ion-label>
        <ion-input type="text" [value]="user?.workedHour" readonly></ion-input>
      </ion-item>

    </ion-card-content>

  </ion-card>
</ion-content>

<ion-fab bottom right>
  <button ion-fab color="primary">
    <div class="text">출/퇴근하기</div>
  </button>
  <ion-fab-list side="top">
    <button ion-fab (click)="goQrcode('in')" color="secondary">
      <div class="text">출근</div>
    </button>
    <button ion-fab (click)="goQrcode('out')" color="danger">
      <div class="text">퇴근</div>
    </button>
  </ion-fab-list>
</ion-fab>